body {
    font-family: 'Lato', sans-serif;
    color: #747784;
    font-weight: 300;
}

img, embed, object, video {
    max-width: 100%;
}

nav a, button {
    min-height: 48px;
    min-width: 48px;
}

.col-md-4 > .img-responsive {
    margin:  0 auto;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
}

